<!DOCTYPE html>
<html>
	<head>
		<title>My First View!!</title>
	</head>
	<body>
    <h1>Buster's Best Bowling Alley</h1>
		<h1>Bob's Blatant Front for his Money Laundering</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>97 Bowling Alley Lane, Boulder CO </p>
		<p>Welcome to the bowling alley. <br>
    25$ per lane per hour<br>
    10$ shoe rentals <br>
    Hours: 12-12 daily<br></p>

	</body>
</html>
